{% extends "base.html" %}

{% block title %}Change Password - Praise Team Kitty{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4 col-12">
        <div class="card mt-5">
            <div class="card-header bg-royal-blue">
                <h5 class="mb-0 text-center">Change Password</h5>
            </div>
            <div class="card-body">
                <form action="/change_password" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="mb-3">
                        <label class="form-label">Current Password</label>
                        <input type="password" class="form-control" name="current_password" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">New Password</label>
                        <input type="password" class="form-control" name="new_password" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" name="confirm_password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Update Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}